{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Buscar Participante</title>
    <link rel="stylesheet" href="{% static 'app_participante/css/style.css' %}">


</head>
<body>
<header>
    <h1>Buscar Participante</h1>
    <button onclick="window.location.href='/'">⬅ Volver</button>
</header>
<main>
    <form action="{% url 'app_participante:ver_info_participante' %}" method="post">


        {% csrf_token %}
        <label for="cedula">Cédula:</label>
        <input type="text" id="cedula" name="cedula" required value="{{ cedula|default:'' }}">
        <button type="submit">Buscar</button>
    </form>

    {% if mensaje %}
        <p style="color: red; margin-top: 15px;">{{ mensaje }}</p>
    {% endif %}

    {% if eventos %}
        <h2>Eventos inscritos</h2>
        <ul>
            {% for evento in eventos %}
                <li>{{ evento.eve_nombre }} - 📍 {{ evento.eve_lugar }} - 📅 {{ evento.eve_fecha_inicio }}</li>
            {% endfor %}
        </ul>
    {% elif cedula %}
        <p>No hay eventos inscritos para esta cédula.</p>
    {% endif %}
</main>
</body>
</html>
