{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EventSoft</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'app_visitante/css/style_visitante.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>

    <!-- Header -->
    <header class="header">
        <div class="header-logo-nombre">
            <button class="abrir-menu" onclick="openMenu()">
                <i class="fa-solid fa-bars"></i>
                <span class="tooltiptext">Menú</span>
            </button>
            <img src="{% static 'app_visitante/image/Logo Sena 1.png' %}" alt="Logo">
            <h2>EventSoft</h2>
        </div>

        <div class="search-section">
            <div class="search-input-group">
                <input type="text" id="search" placeholder="Busca tu evento..." oninput="filterEvents()">
            </div>
            <button class="filter-btn" onclick="openFilterEventsModal()">
                <i class="fa-solid fa-filter"></i>
                <span class="filter-text"> Filtrar eventos</span>
            </button>
            <button class="search-icon-btn" onclick="toggleSearchBar()" style="display: none;">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

    </header>

    <!-- Overlay -->
    <div id="overlay" class="overlay" onclick="closeMenu()"></div>

    <!-- Sidebar Menu -->
    <div id="sidebarMenu" class="sidebar-menu">
        <button class="close-btn" onclick="closeMenu()"><i class="fa-solid fa-xmark"></i></button>
        <div class="menu-content">
            <a class="btn-menu" href="{% url 'administrador:inicio_sesion_administrador' %}">
                <i class="fa-solid fa-user-tie"></i> Administrador
            </a>
            <a class="btn-menu" href="{% url 'app_participante:buscar_participantes' %}">
                <i class="fa-solid fa-user"></i> Mis inscripciones como participante
            </a>
            <a class="btn-menu" href="{% url 'app_asistente:buscar_asistentes' %}">
                <i class="fa-solid fa-user"></i> Mis inscripciones como asistente
            </a>
            <a class="btn-menu" href="{% url 'super_admin:inicio_sesion_super_admin' %}">
                <i class="fa-solid fa-user-shield"></i> Super Administrador
            </a>
            <a class="btn-menu" href="{% url 'app_evaluador:inicio_sesion_evaluador' %}">
                <i class="fas fa-chalkboard-user"></i> Evaluador
            </a>
        </div>
    </div>

    <!-- Modal Filtros -->
    <div id="filterEventsModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeFilterEventsModal()">&times;</span>
        <h3>Filtrar eventos</h3>
        <form method="GET" action="">
            <!-- Filtro por Categoría -->
            <label for="categoria_modal">Categoría:</label>
            <select name="categoria" id="categoria_modal">
                <option value="">Todas</option>
                {% for cat in categorias %}
                    <option value="{{ cat.id }}" {% if request.GET.categoria == cat.cat_codigo|stringformat:"s" %}selected{% endif %}>
                        {{ cat.cat_nombre }}
                    </option>
                {% endfor %}
            </select>

            <!-- Filtro por Área -->
            <label for="area_modal">Área:</label>
            <select name="area" id="area_modal">
                <option value="">Todas</option>
                {% for area in areas %}
                    <option value="{{ area.id }}" {% if request.GET.area == area.are_codigo|stringformat:"s" %}selected{% endif %}>
                        {{ area.are_nombre }}
                    </option>
                {% endfor %}
            </select>

            <!-- Filtro por Fecha -->
            <label for="fecha_inicio_modal">Fecha Inicio:</label>
            <input type="date" name="fecha_inicio" id="fecha_inicio_modal" value="{{ request.GET.fecha_inicio }}">

            <!-- Botones -->
            <button type="submit">Aplicar Filtros</button>
            <a href="{% url 'inicio_visitante' %}" class="button-clear-filters">Limpiar Filtros</a>
        </form>
    </div>
</div>


    <!-- Contenido Principal -->
    <main class="content">
        <section class="contenedor-principal-de-eventos">
            <input type="text" class="buscador-movil" id="searchMovil" placeholder="Busca tu evento..." oninput="filterEvents()">
            {% if eventos %}
                {% for evento in eventos %}
                    {% if evento.eve_estado == "activo" %}
                        
                        <div class="card" style="width: 18rem; margin: 10px; display: inline-block; vertical-align: top;">
                            <img src="{{ evento.eve_imagen.url }}" alt="Imagen del evento" style="height: 200px; object-fit: contain; width: 100%;">
                            <div class="card-body">
                                <h5 class="evento-titulo">{{ evento.eve_nombre }}</h5>
                                <h6 class="evento-fechas">
                                    <i class="fa-solid fa-calendar"></i> {{ evento.eve_fecha_inicio }} - {{ evento.eve_fecha_fin }}
                                </h6>
                                <p class="evento-descripcion">{{ evento.eve_descripcion|truncatechars:50 }}</p>
                                {% if evento.eve_estado == "Terminado" %}
                                    <button class="btn btn-primary" disabled style="background-color: #FF5800;">
                                        <i class="fa-solid fa-circle-check"></i> Evento Terminado
                                    </button>
                                {% else %}
                                    <a href="{% url 'detalle_evento' evento.pk %}" class="btn btn-primary">Ver más</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="alerta">
                    <i class="fa-solid fa-triangle-exclamation"></i> No hay eventos disponibles.
                </div>
            {% endif %}
        </section>

        <!-- Chatbot -->
        <div id="chatbotModal" class="chatbot-modal">
            <div class="chatbot-header">
                <span>🤖 Asistente Virtual de EventSoft</span>
                <button onclick="toggleChatbotModal()">&times;</button>
            </div>
            <div id="chatLog" class="chat-log"></div>
            <div class="questions">
                <button onclick="enviarPregunta('hola')">Hola</button>
                <button onclick="enviarPregunta('que hace un participante?')">¿Qué hace un participante?</button>
                <button onclick="enviarPregunta('que hace un visitante?')">¿Qué hace un visitante?</button>
                <button onclick="enviarPregunta('cómo me inscribo?')">¿Cómo me inscribo?</button>
                <button onclick="enviarPregunta('cuáles son los eventos disponibles?')">¿Cuáles son los eventos disponibles?</button>
                <button onclick="enviarPregunta('documentos')">¿Qué documentos necesito?</button>
            </div>
        </div>
    </main>

    <!-- JS Funciones -->
    <script>
        function openFilterEventsModal() {
            const modal = document.getElementById("filterEventsModal");
            modal.style.display = "block";
            setTimeout(() => {
                modal.classList.add("fade-in");
            }, 10);
        }

        function closeFilterEventsModal() {
            const modal = document.getElementById("filterEventsModal");
            modal.classList.add("fade-out");
            setTimeout(() => {
                modal.style.display = "none";
                modal.classList.remove("fade-out");
            }, 300);
        }

        function openMenu() {
            document.getElementById("sidebarMenu").style.left = "0";
            document.getElementById("overlay").style.display = "block";
        }

        function closeMenu() {
            document.getElementById("sidebarMenu").style.left = "-350px";
            document.getElementById("overlay").style.display = "none";
        }

        function toggleChatbotModal() {
            document.getElementById("chatbotModal").classList.toggle("open");
        }

        function enviarPregunta(pregunta) {
            const log = document.getElementById("chatLog");

            const userMsg = document.createElement("p");
            userMsg.className = "user-msg";
            userMsg.textContent = "Tú: " + pregunta;
            log.appendChild(userMsg);

            fetch(`/chatbot/?q=${encodeURIComponent(pregunta)}`)
                .then(response => response.json())
                .then(data => {
                    const botMsg = document.createElement("p");
                    botMsg.className = "bot-msg";
                    botMsg.textContent = "Bot: " + data.respuesta;
                    log.appendChild(botMsg);
                    log.scrollTop = log.scrollHeight;
                })
                .catch(() => {
                    const botMsg = document.createElement("p");
                    botMsg.className = "bot-msg";
                    botMsg.textContent = "Bot: Lo siento, ocurrió un error.";
                    log.appendChild(botMsg);
                });
        }

        function filterEvents() {
            const input = document.getElementById("search");
            const filter = input.value.toLowerCase();
            const cards = document.querySelectorAll(".card");

            cards.forEach(card => {
                const titulo = card.querySelector(".evento-titulo").textContent.toLowerCase();
                card.style.display = titulo.includes(filter) ? "inline-block" : "none";
            });
        }

        function toggleSearchBar() {
            const inputGroup = document.querySelector("#searchMovil");
            inputGroup.style.display = inputGroup.style.display === "inline-block" ? "none" : "inline-block";
        }


    </script>
</body>
</html>
