{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Preinscripción Participante</title>
    <link rel="stylesheet" href="{% static 'app_visitante/css/styles_parti.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <style>
      /* Aplica Work Sans solo a texto real, no a íconos */
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      a,
      button,
      input,
      label,
      span,
      div {
        font-family: 'Work Sans', sans-serif !important;
      }
    
      </style>



</head>

<body>
    <header class="header">
        <div class="user-section">
            <a href="{% url 'detalle_evento' evento.id %}" class="btn-volver"><i class="fas fa-arrow-left"></i> Volver</a>
        </div>
        <div class="header-content">
            <h1 class="brand">Registro Participante</h1>
        </div>   
    </header>

    <main class="form-container">
  <form id="preinscripcion-form" action="{% url 'submit_preinscripcion_participante' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Formulario de Preinscripción</h1>
    <Por class="text-info">Por favor, suba el proyecto que desea presentar.</p>


    <input type="hidden" id="evento_id" name="evento_id" value="{{ evento_id|default:evento.id }}" />

    <label for="comprobante_pago" class="file-label">
            <i class="fas fa-file-upload"></i> Subir Proyecto:
    </label>
    <input type="file" id="comprobante_pago" name="par_eve_documentos" accept=".pdf" required>
    <button type="submit">Enviar Preinscripción</button>
  </form>
</main>
<script>
    const comprobanteInput = document.getElementById("comprobante_pago");

    if (comprobanteInput) {
        const fileNameDisplay = document.createElement("div");
        fileNameDisplay.className = "file-name";
        comprobanteInput.parentNode.insertBefore(fileNameDisplay, comprobanteInput.nextSibling);

        comprobanteInput.addEventListener("change", function () {
            const fileName = this.files.length > 0 ? this.files[0].name : "Ningún archivo seleccionado";
            fileNameDisplay.textContent = `Archivo seleccionado: ${fileName}`;
        });
    }

</script>

</body>

</html>
