{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registro de Asistentes</title>
    <link rel="stylesheet" href="{% static 'app_visitante/css/styles_parti.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <style>
        /* SOLO TEXTO */
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        a,
        button,
        input,
        label,
        span,
        div {
            font-family: 'Work Sans', sans-serif !important;
        }
    
        </style>

</head>

<body>
    <header class="header">
        <div class="user-section">
            <a href="{% url 'detalle_evento' evento.id %}" class="btn-volver"><i class="fas fa-arrow-left"></i> Volver</a>
        </div>
        <div class="header-content">
            <h1 class="brand">Registro Asistente</h1>
        </div>   
    </header>

    <main class="form-container">

        <form action="{% url 'registrar_asistente' evento_id=evento.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2><i class="fas fa-edit"></i> Registro de Asistente</h2>
            <p class="text-info">Para asistir a un evento, debes registrar el comprobante de pago. Ingresa el comprobante de pago para completar el registro.</p>
            <label for="comprobante_pago" class="file-label">
                <i class="fas fa-file-upload"></i> Comprobante de pago:
            </label>
            <input type="file" id="comprobante_pago" name="comprobante_pago" accept=".pdf,.png,.jpg,.jpeg" required>

            <button type="submit"><i class="fas fa-save"></i> Guardar Registro</button>
        </form>
    </main>
<script>
    const comprobanteInput = document.getElementById("comprobante_pago");

    if (comprobanteInput) {
        const fileNameDisplay = document.createElement("div");
        fileNameDisplay.className = "file-name";
        comprobanteInput.parentNode.insertBefore(fileNameDisplay, comprobanteInput.nextSibling);

        comprobanteInput.addEventListener("change", function () {
            const fileName = this.files.length > 0 ? this.files[0].name : "Ningún archivo seleccionado";
            fileNameDisplay.textContent = `Archivo seleccionado: ${fileName}`;
        });
    }

</script>

</body>
</html>
