[run]
source = .
include =
    */models.py
omit =
    */tests/*
    */migrations/*
    */__pycache__/*
    */venv/*
    */virtual/*
    */env/*
    */static/*
    */media/*
    */templates/*
    manage.py
    */settings/*
    */wsgi.py
    */asgi.py

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    @property
    def .*_property:
    def __.*__
    ^import 
    ^from .* import

[html]
directory = htmlcov
