:root {
    --color-naranja: #FF5800;
    --color-texto: #ffffff;
}

.btn-editar-campo {
    background-color: transparent;
    color: var(--color-naranja);
    border: 1px solid var(--color-naranja);
}

.btn-editar-campo:hover {
    color: var(--color-texto);
    background-color: var(--color-naranja);
}

.modal-header{
    background-color: var(--color-naranja);
}

.btn-guardar-usuario{
    background-color: var(--color-naranja);
    color: var(--color-texto);
}

.btn-guardar-usuario:hover{
    background-color: #ff5900c2;
    color: var(--color-texto);
}

.btn-ver-documento{
    background-color: var(--color-naranja);
    color: var(--color-texto);
}

.btn-ver-documento:hover{
    background-color: #ff5900c2;
    color: var(--color-texto);
}

/* estilos_personalizados.css */
.custom-file-upload {
  display: flex;
  align-items: center;
}

.custom-file-upload .btn-file {
  cursor: pointer;
}

.custom-file-upload .file-name {
  font-size: 0.9rem;
}

.card-img-top{
    height: 200px;
    object-fit: contain;
}