{% extends "administrador/baseadmin.html" %}
{% block title %}
  {{ administrador if administrador else 'Administrador' }}
{% endblock %}
{% block content %}
<div class="contenedor-principal-de-eventos">
    {% for evento in eventos %}
    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('administrador.imagen_evento', id=evento.eve_codigo) }}" class="card-img-top" alt="{{ evento.eve_nombre }}" style="object-fit: cover; height: 200px;">
        <div class="card-body">
            <h5 class="card-title">{{evento.eve_nombre}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"><i class="fa-solid fa-calendar"></i> {{evento.eve_fecha_inicio}} - {{evento.eve_fecha_fin}}</h6>
            <p class="card-text">{{ evento.eve_descripcion | truncate(100, True, '...') }}</p>
            <button class="btn-ver-mas" data-id="{{ evento.eve_codigo }}"><i class="fa-solid fa-eye"></i> Ver más</button>
            <a href="#">
                <button class="btn-ver_participantes" ><i class="fas fa-user-check"></i> Evaluadores</button>
            </a>
            
            <a href="{{ url_for('administrador.ver_participantes', evento_id=evento.eve_codigo) }}">
                <button class="btn-ver_participantes" ><i class="fa-solid fa-users"></i> Ver Participantes</button>
            </a>
            <a href="{{ url_for('administrador.ver_asistentes', evento_id=evento.eve_codigo) }}">
                <button class="btn-ver_participantes" ><i class="fa-solid fa-users"></i> Ver Asistentes</button>
            </a>
            <a href="{{ url_for('administrador.ranking_evento', evento_id=evento.eve_codigo) }}">
                <button class="btn-ver_participantes"><i class="fa-solid fa-trophy"></i> Tabla de Posiciones</button>
            </a>
            
        </div>
    </div>
    {% endfor %}
    
</div>



<!-- Modal -->
<div class="modal fade" id="eventoModal" tabindex="-1" aria-labelledby="eventoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventoModalLabel">Detalles del Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="modalNombre"></h5>
                <p><strong>Descripción:</strong> <span id="modalDescripcion"></span></p>
                <p><strong><i class="fa-solid fa-city"></i> Ciudad:</strong> <span id="modalCiudad"></span></p>
                <p><strong>Lugar:</strong> <span id="modalLugar"></span></p>
                <p><strong><i class="fa-solid fa-calendar-days"></i> Fecha:</strong> <span id="modalFecha"></span></p>
                <p><strong>Categoría:</strong> <span id="modalCategoria"></span></p>
                <p><strong><i class="fa-solid fa-users"></i> Aforo:</strong> <span id="modalAforo"></span></p>
                <p><strong>Inscripción:</strong> <span id="modalInscripcion"></span></p>
                <p><strong>Participantes:</strong> <span id="modalParticipantes"></span></p>
                <p><strong>Asistentes:</strong> <span id="modalAsistentes"></span></p>
                <img id="modalImagen" src="" alt="Imagen del evento" class="img-fluid" style="width: 100%;
                height: 300px; object-fit: contain;" />
            </div>
            <div class="modal-footer">
                <a type="button"
                    id="btnModificar"
                    class="btn-ver-mas"
                    data-bs-dismiss="modal"
                    data-base-url="{{ url_for('administrador.editar_evento', evento_id=0) | replace('0', '') }}">
                    Modificar información
                </a>
                <button type="button"  id="btnCriterios" class="btn-eliminar" data-bs-dismiss="modal" >Criterios de Evaluación</button>
                <button type="button" id="btnAccion" class="btn-eliminar" data-bs-dismiss="modal" >Eliminar Evento</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación -->
<div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="confirmarEliminarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarEliminarLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este evento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnConfirmarEliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/verEventos.js"></script>
<script src="/static/js/modificarEventos.js"></script>
<script src="/static/js/Eliminar.js"></script>
{% endblock %}
