<!-- templates/administrador/criterios_evaluacion.html -->
{% extends "administrador/baseadmin.html" %}
{% block title %}
  {{ administrador if administrador else 'Administrador' }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/criteriosadmin.css">
<div class="container mt-5">
    <h2 class="mb-4">Criterios de Evaluación</h2>
    <div class="alert alert-info" role="alert">
        <strong>Nota:</strong> Los criterios de evaluación son fundamentales para la calificación de los participantes. Asegúrate de que sean claros y justos.
        <form id="form-criterios" method="POST">
            <div class="mb-3">
                <label for="nuevo_criterio" class="form-label">Nuevo Criterio:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="criterio[]" placeholder="Descripción" required>
                    <input type="number" class="form-control_porcentaje porcentaje-nuevo" name="porcentaje[]" placeholder="%" min="0" max="100" required>
                    <button type="submit" class="btn btn-success">Agregar</button>
                </div>
            </div>
        </form>
    </div>
    

    <div id="total-porcentaje" class="alert alert-secondary">
        Porcentaje total: <span id="porcentaje-total">0</span>%
    </div>
    
    <table class="table table-bordered" id="tabla-criterios">
        <thead class="table-dark">
            <tr>
                <th>Descripción</th>
                <th>Porcentaje</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for criterio in criterios %}
            <tr data-id="{{ criterio.id }}">
                <td class="criterios-tr"><input type="text"  value="{{ criterio.descripcion }}" class="form-control" disabled></td>
                <td class="columna-porcentaje"><input type="number" class="porcentaje-existente form-control" data-id="{{ criterio.id }}" value="{{ criterio.peso }}" disabled></td>
                <td class="acciones">
                    <button class="btn-modificar">Modificar</button>
                    <button class="btn-eliminar">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="{{ url_for('static', filename='js/criteriosadmin.js') }}"></script>
<script>
    document.getElementById("form-criterios").addEventListener("submit", function(e) {
        let nuevoPorcentaje = parseFloat(document.querySelector(".porcentaje-nuevo").value) || 0;
        let sumaExistente = 0;

        document.querySelectorAll(".porcentaje-existente").forEach(function(input) {
            sumaExistente += parseFloat(input.value) || 0;
        });

        if ((sumaExistente + nuevoPorcentaje) > 100) {
            e.preventDefault();
            alert("Error: La suma de los porcentajes no puede superar 100%.");
        }
    });
</script>
{% endblock %}
