{% extends "app_administrador/baseadmin.html" %}
{% load static %}

{% block title %}
    {{ administrador|default:'Administrador' }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'app_administrador/css/posicionesadmin.css' %}">


<div class="container mt-5">
    <a href="{% url 'administrador:tabla_calificaciones' evento_id=evento.id %}" class="btn btn-detalle-calificacion mb-2">
            <i class="fa-solid fa-arrow-left"></i></i> Volver a tabla de posiciones
    </a>
    <h2 class="mb-4"><i class="fa-solid fa-list-check"></i> Detalle de Calificaciones - {{ participante.par_nombre }}</h2>


    <div class="row">
        {% for item in evaluadores_data %}
        <div class="col-md-4 mb-4">
            <div class="card shadow rounded-4 border-0">
                <div class="card-header">
                    Evaluador: {{ item.evaluador.eva_nombre }}
                </div>
                <div class="card-body">
                    <p><strong>Promedio:</strong> {{ item.promedio|floatformat:2 }}</p>
                    <a href="#" class="btn btn-detalle-calificacion">
                        <i class="fa-solid fa-eye"></i> Ver Detalle de Calificación
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
