{% extends "app_administrador/baseadmin.html" %}
{% load static %}

{% block title %}
    {{ administrador|default:'Administrador' }}
{% endblock %}

{% block content %}

<div class="contenedor-principal-crear">
    <div class="contenedor-crear-evento">
        <h2>Modificar Evento</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="pagina1" class="pagina pagina-activa">

                <div class="div contenedor-input-1">
                    <label for="nombre_evento">Nombre del Evento:</label>
                    <input type="text" name="nombre_evento" id="nombre_evento" value="{{evento.eve_nombre}}" maxlength="100" oninput="actualizarContaNombre()">
                    <small id="contador_nombre">0 / 100</small>
                </div>

                <div class="div contenedor-input-2">
                    <label for="descripcion_evento">Descripción:</label>
                    <textarea id="mensaje" name="descripcion_evento" placeholder="Escribe aquí..." maxlength="400" oninput="actualizarContador()"></textarea>
                    <small id="contador">0 / 400</small>
                </div>
                <div class="div contenedor-input-toggle">
  <label for="habilitar_participantes" class="form-label">Habilitar Participantes</label>
  <label class="switch">
    <input type="checkbox" name="habilitar_participantes" id="habilitar_participantes" {% if evento.eve_habilitar_participantes %}checked{% endif %}>
    <span class="slider round"></span>
  </label>
</div>

<div class="div contenedor-input-toggle">
  <label for="habilitar_evaluadores" class="form-label">Habilitar Evaluadores</label>
  <label class="switch">
    <input type="checkbox" name="habilitar_evaluadores" id="habilitar_evaluadores" {% if evento.eve_habilitar_evaluadores %}checked{% endif %}>
    <span class="slider round"></span>
  </label>
</div>


                <div class="div contenedor-input-3">
                    <div class="div-1">
                        <label for="ciudad">Ciudad:</label>
                        <input type="text" name="ciudad" value="{{evento.eve_ciudad}}">
                    </div>
                    <div class="div-2">
                        <label for="lugar">Lugar:</label>
                        <input type="text" name="lugar" value="{{evento.eve_lugar}}">
                    </div>
                </div>

                <div class="div contenedor-input-4">
                    <div class="div-3">
                        <label for="fecha_inicio">Fecha de inicio:</label>
                        <input type="date" name="fecha_inicio" value="{{ evento.eve_fecha_inicio|date:'Y-m-d' }}">

                    </div>
                    <div class="div-4">
                        <label for="fecha_fin">Fecha de fin:</label>
                        <input type="date" name="fecha_fin" value="{{ evento.eve_fecha_fin|date:'Y-m-d' }}">

                    </div>
                </div>

                <div class="div contenedor-input-5">
                    <div class="boton-continuar">
                        <input type="button" value="Continuar" onclick="siguiente(2)">
                        <img src="{% static 'app_administrador/image/flecha-derecha.png' %}" alt="flecha-derecha" onclick="siguiente(2)">
                    </div>
                </div>
            </div>

            <div id="pagina2" class="pagina pagina-inactiva">
                <div  class="div contenedor-input-6">
                    <div>
                        <label for="area">Área:</label>
                        <select id="area" name="area" required>
                            <option value="">Seleccione un área</option>
                            {% for area in areas %}
                                <option value="{{ area.id }}" {% if area_seleccionada and area.id == area_seleccionada.id %}selected{% endif %}>
                                    {{ area.are_nombre }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="categoria">Categoría:</label>
                        <select id="categoria" name="categoria">
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id }}" {% if categoria_seleccionada and categoria.id == categoria_seleccionada.id %}selected{% endif %}>
                                    {{ categoria.cat_nombre }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="div contenedor-input-11">
                    <label for="permitir_participantes">¿Tiene cupo límite?</label>
                    <select id="permitir_participantes" name="permitir_participantes" onchange="toggleCantidadParticipantesModificar()">
                        <option value="No" {% if not evento.eve_capacidad or evento.eve_capacidad == 0 %}selected{% endif %}>No</option>
                        <option value="Si" {% if evento.eve_capacidad and evento.eve_capacidad > 0 %}selected{% endif %}>Sí</option>
                    </select>


                    <div id="cantidad_participantes_div" {% if not evento.eve_capacidad or evento.eve_capacidad == 0 %}style="display: none;"{% endif %}>
                        <label for="cantidad_personas">Aforo Máximo:</label>
                        <input type="number" min="0" id="cantidad_personas" name="cantidad_personas" value="{{ evento.eve_capacidad|default_if_none:'' }}">
                    </div>
                </div>

                <div class="div contenedor-input-7">
                    <div>
                        <label for="inscripcion">Costo de inscripción:</label>
                        <select class="dropdown" name="inscripcion">
                            {% if evento.eve_tienecosto == True %}
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                            {% else %}
                                <option value="No">No</option>
                                <option value="Si">Si</option>
                            {% endif %}
                        </select>
                    </div>
                    <div>
                        <label for="estado_evento">Estado del evento:</label>
                        <select class="dropdown" name="estado_evento">
                            {% if evento.eve_estado == 'activo' %}
                                <option value="activo">Recibir Inscripciones</option>
                                <option value="inactivo">Cancelar Incripciones</option>
                            {% else %}
                                <option value="inactivo">Cancelar Incripciones</option>
                                <option value="activo">Recibir Inscripciones</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="div contenedor-input-8">
                    <label for="imagen_evento">Imagen del Evento:</label>
                    <img id="previewImagen" src="{{ evento.eve_imagen.url }}" alt="evento.eve_nombre" width="200">
                    <input type="file" name="imagen_evento" id="imagen_evento" accept="image/*">
                </div>

                <div class="div contenedor-input-10">
                    <label for="documento_evento">Documento del Evento:</label>
                    {% if evento.eve_programacion %}
                        <p>Documento actual:
                            <a href="{{evento.eve_programacion.url }}" target="_blank">Ver Documento</a>
                            <iframe id="previewDocumento" style="display: none;" width="50%" height="300px"></iframe>
                        </p>
                    {% else %}
                        <p>No hay documento disponible.</p>
                        <iframe id="previewDocumento" style="display: none;" width="300px" height="300px"></iframe>
                    {% endif %}
                    <input type="file" name="documento_evento" id="documento_evento" accept=".pdf">
                </div>

                <div class="div contenedor-input-9">
                    <div class="boton-continuar">
                        <img src="{% static 'app_administrador/image/atras.png'%}" alt="flecha-izquierda" onclick="volver(1)">
                        <input type="button" value="Volver" onclick="volver(1)">
                    </div>
                    <div class="boton-continuar">
                        <input type="submit" value="Modificar Evento">
                        <img src="{% static 'app_administrador/image/crear-img.png' %}" alt="Crear">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<script>
    document.getElementById("mensaje").value = "{{evento.eve_descripcion|default_if_none:''}}";
    const baseCategoriaUrl = "{% url 'administrador:get_categorias' 0 %}".replace('0', '');
</script>
<script src="{% static 'app_administrador/js/modificarEventos.js' %}"></script>
<script src="{% static 'app_administrador/js/crearEvento.js' %}"></script>
<script src="{% static 'app_administrador/js/previaImagen.js' %}"></script>

{% endblock %}