<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nuevo Evento Creado</title>
</head>
<body>
    <p>Hola Super administrador,</p>

    <p>Se ha creado un nuevo evento con los siguientes detalles:</p>

    <ul>
        <li><strong>Nombre:</strong> {{ nombre }}</li>
        <li><strong>Descripción:</strong> {{ descripcion }}</li>
        <li><strong>Ciudad:</strong> {{ ciudad }}</li>
        <li><strong>Lugar:</strong> {{ lugar }}</li>
        <li><strong>Fecha de inicio:</strong> {{ fecha_inicio }}</li>
        <li><strong>Fecha de fin:</strong> {{ fecha_fin }}</li>
    </ul>

    <p>Puedes acceder al sistema para revisar más detalles.</p>

    <p>Gracias.</p>
</body>
</html>
