{% extends 'base.html' %}
{% load static %}



{% block title %}Inicio de Sesión{% endblock %}

{% block content %}
<header class="position-relative py-3 mb-4 header-participante">
    <div class="container position-relative text-center">
        <a href="/" class="btn btn-light position-absolute start-0 top-50 translate-middle-y ms-2">
            <i class="fas fa-arrow-left"> Regresar</i>
        </a>
        <h1 class="text-white m-0 fs-4">EventSoft</h1>
    </div>
</header>

<div class="form-inicio-admin">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
        <h4 class="mb-4 text-center">Iniciar Sesión</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="cedula" class="form-label">Cédula</label>
                <input type="text" class="form-control" id="cedula" name="cedula" required>
            </div>
            <button type="submit" class="btn-ver-mas">Entrar</button>
        </form>
    </div>
</div>
{% endblock %}